---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tinyauth
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tinyauth
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/steveiliop56/tinyauth
              tag: "v4"
            env:
              APP_URL: "https://uptime.tosih.org"
              UPSTREAM_URL: "http://uptime-kuma.default.svc.cluster.local:3001"
            envFrom:
              - secretRef:
                  name: tinyauth-secret
            probes:
              liveness:
                enabled: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 3000
                  initialDelaySeconds: 10
                  periodSeconds: 10
              readiness:
                enabled: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        seccompProfile:
          type: RuntimeDefault

    service:
      main:
        controller: main
        ports:
          http:
            port: *port

    persistence:
      data:
        type: emptyDir
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

    route:
      main:
        hostnames: ["uptime.tosih.org"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port
