---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: memos
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      memos:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/usememos/memos
              tag: 0.23.1
            env:
              TZ: America/Los_Angeles
              MEMOS_MODE: prod
              MEMOS_PORT: &memosPort 5230
              MEMOS_METRIC: "false"
              MEMOS_INSTANCE_URL: https://memos.tosih.org

            probes:
              liveness:
                enabled: true
                type: HTTP
                path: /healthz
                port: *memosPort
              readiness:
                enabled: true
                type: HTTP
                path: /healthz
                port: *memosPort
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 15m
                memory: 128Mi
              limits:
                memory: 512Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: memos
        type: ClusterIP
        ports:
          grpc:
            port: 10001
            targetPort: *memosPort
            protocol: TCP
          http:
            port: 10002
            targetPort: *memosPort
            protocol: TCP

    route:
      grpc:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Note-taking service
          gethomepage.dev/group: Apps
          gethomepage.dev/icon: mdi-note-text
          gethomepage.dev/name: Memos
          gethomepage.dev/app: memos
        hostnames: ["memos.tosih.org"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: "/api/"
            backendRefs:
              - identifier: app
                port: 10001
          - matches:
              - path:
                  type: RegularExpression
                  value: "/grpc.*"
            backendRefs:
              - identifier: app
                port: 10001
          - matches:
              - path:
                  type: RegularExpression
                  value: "/memos.api.v1.*"
            backendRefs:
              - identifier: app
                port: 10001
          - backendRefs:
              - identifier: app
                port: 10002

    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 5Gi
        globalMounts:
          - path: /var/opt/memos
