---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      server:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          enableServiceLinks: false

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1
            env:
              IMMICH_MEDIA_LOCATION: &mediaLocation /usr/src/app/upload
              DB_HOSTNAME: "postgres17-rw.databases.svc.cluster.local"
              DB_PORT: 5432
              DB_DATABASE_NAME: "immich"
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_USERNAME
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_PASSWORD

            envFrom:
              - configMapRef:
                  name: immich-configmap
              - secretRef:
                  name: immich-oidc-secret

            resources:
              requests:
                cpu: 15m
                memory: 933Mi
              limits:
                memory: 1536Mi

      machine-learning:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          enableServiceLinks: false

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            env:
              MPLCONFIGDIR: "/cache/matplotlib"
              IMMICH_MEDIA_LOCATION: *mediaLocation
            resources:
              requests:
                cpu: 15m
                memory: 283Mi
              limits:
                memory: 2Gi

    service:
      server:
        controller: server
        ports:
          http:
            port: &port 2283
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003

    route:
      server:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Photo management platform
          gethomepage.dev/group: Apps
          gethomepage.dev/icon: sh-immich.svg
          gethomepage.dev/name: Immich
          gethomepage.dev/app: immich
        hostnames: ["photos.tosih.org"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: server
                port: *port

    persistence:
      matplotlib:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /config/matplotlib

      library:
        type: persistentVolumeClaim
        existingClaim: immich-media
        globalMounts:
          - path: *mediaLocation

      cache:
        type: persistentVolumeClaim
        existingClaim: immich-machine-learning-cache
        globalMounts:
          - path: /cache
            subPath: cache
          - path: /.cache
            subPath: dotCache

      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
