---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      jellyseerr:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: docker.io/fallenbagel/jellyseerr
              tag: preview-OIDC
            env:
              TZ: America/Los_Angeles
              LOG_LEVEL: info
              DB_TYPE: postgres
              DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: database-jellyseerr-user-jellyseerr-user
                    key: POSTGRES_HOST
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: database-jellyseerr-user-jellyseerr-user
                    key: POSTGRES_PORT
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: database-jellyseerr-user-jellyseerr-user
                    key: POSTGRES_USER
              DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: database-jellyseerr-user-jellyseerr-user
                    key: POSTGRES_PASSWORD
              DB_NAME:
                valueFrom:
                  secretKeyRef:
                    name: database-jellyseerr-user-jellyseerr-user
                    key: POSTGRES_DB

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: jellyseerr
        ports:
          http:
            port: &port 5055

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Media request management
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-jellyseerr.svg
          gethomepage.dev/name: Jellyseerr
          gethomepage.dev/app: jellyseerr
        hostnames: ["requests.tosih.org"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 5Gi
        advancedMounts:
          jellyseerr:
            app:
              - path: /app/config
