---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      home-assistant:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 0 # Change when starting from scratch
            runAsGroup: 568
            runAsNonRoot: false # Change when starting from scratch
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        initContainers:
          init-config:
            image:
              repository: busybox
              tag: latest
            command:
              - sh
              - -c
              - |
                if [ ! -f /config/configuration.yaml ]; then
                  cp /tmp/config/configuration.yaml /config/configuration.yaml
                  echo "Copied configuration.yaml to /config"
                else
                  echo "configuration.yaml already exists, skipping copy"
                fi

        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.12.3
            env:
              SECRET_RECORDER_DB_URL:
                valueFrom:
                  secretKeyRef:
                    name: database-homeassistant-user
                    key: POSTGRES_URL

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 1Gi

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.0.50.106
        ports:
          sonos:
            enabled: true
            port: 1400
          http:
            port: &port 8123
            primary: true
            appProtocol: kubernetes.io/wss
          govee:
            enabled: true
            port: 4003
            protocol: UDP

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Smart home and automations
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: sh-home-assistant.svg
          gethomepage.dev/name: Home Assistant
          gethomepage.dev/app: home-assistant
        hostnames: ["home.tosih.org"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 5Gi
        advancedMounts:
          home-assistant:
            app:
              - path: /config

      # https://community.home-assistant.io/t/wth-is-going-on-with-docker-container-installs-and-third-party-integrations-that-need-python-modules/806430/6
      hack:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /.dockerenv
                subPath: .dockerenv

      http-config:
        type: configMap
        name: home-assistant-config
        advancedMounts:
          home-assistant:
            init-config:
              - path: /tmp/config
                readOnly: true
            app:
              - path: /tmp/config-reference
                readOnly: true
