---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard-home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: adguard-home
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    controllers:
      adguard-home:
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.54
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      app:
        controller: adguard-home
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.0.50.105"
        ports:
          http:
            port: 3000
      dns:
        controller: adguard-home
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.0.50.107"
        ports:
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 53
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 53
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
      data:
        enabled: true
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 5Gi
        retain: true
