---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard-home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: adguard-home
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    controllers:
      adguard-home:
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.54
            args:
              - --config
              - /opt/adguardhome/conf/AdGuardHome.yaml
              - --work-dir
              - /opt/adguardhome/work
              - --no-check-update
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 5
                  timeoutSeconds: 1
                  failureThreshold: 30
    service:
      app:
        controller: adguard-home
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.0.50.105"
        ports:
          http:
            port: 80
      dns:
        controller: adguard-home
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.0.50.107"
        ports:
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 53
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 53
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
        globalMounts:
          - path: /opt/adguardhome/conf
      data:
        enabled: true
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 5Gi
        retain: true
        globalMounts:
          - path: /opt/adguardhome/work
