---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: snapshot-controller
  namespace: kube-system
spec:
  interval: 12h
  url: oci://registry.k8s.io/sig-storage/charts/snapshot-controller
  ref:
    semver: ">=3.0.0"
