---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: parked
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: ghcr.io/tosih/parked
              tag: master
              pullPolicy: Always
            probes:
              liveness:
                enabled: true
                type: HTTP
                path: /
                port: &port 80
                spec:
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                type: HTTP
                path: /
                port: *port
                spec:
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
    service:
      app:
        ports:
          http:
            port: *port
          https:
            port: 443
    route:
      app:
        enabled: true
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        hostnames:
          - "tosih.org"
          - "www.tosih.org"
