---
apiVersion: v1
kind: Service
metadata:
  name: parked
  namespace: default
  labels:
    app.kubernetes.io/name: parked
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
  selector:
    app.kubernetes.io/name: parked
