---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: airconnect
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      airconnect:
        type: deployment
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          hostNetwork: true
          dnsPolicy: ClusterFirstWithHostNet
        containers:
          app:
            image:
              repository: 1activegeek/airconnect
              tag: latest
            env:
              TZ: America/Los_Angeles
              # To exclude devices, add -x <device_name> to the variables below
              # Example: AIRUPNP_VAR: "-l 1000:2000 -x LG -x Samsung"
              # Multiple -x flags can be used to exclude multiple devices
              # -N "%s" prevents adding "+" suffix to device names (uses original name)
              AIRUPNP_VAR: "-l 1000:2000 -x LG -N %s"
              AIRCAST_VAR: "-l 1000:2000 -x LG -N %s"
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
