---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
data:
  configuration.yml: |
    ---
    theme: dark
    
    server:
      address: 'tcp://0.0.0.0:9091'
    
    log:
      level: info
      format: json
    
    authentication_backend:
      password_reset:
        disable: true
      refresh_interval: 5m
      file:
        path: /config/users_database.yml
        watch: true
        password:
          algorithm: argon2
          argon2:
            variant: argon2id
            iterations: 3
            memory: 65536
            parallelism: 4
            key_length: 32
            salt_length: 16
    
    session:
      name: authelia_session
      same_site: lax
      expiration: 1h
      inactivity: 5m
      remember_me: 1M
      cookies:
        - domain: tosih.org
          authelia_url: https://auth.tosih.org
      redis:
        host: dragonfly.databases.svc.cluster.local
        port: 6379
        database_index: 0
    
    storage:
      postgres:
        schema: public
        timeout: 5s
    
    notifier:
      disable_startup_check: true
      filesystem:
        filename: /tmp/notification.txt
    
    access_control:
      default_policy: deny
      networks:
        - name: internal
          networks:
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
      rules:
        # Bypass for local networks
        - domain:
            - "*.tosih.org"
          policy: bypass
          networks:
            - internal
        # Default require authentication
        - domain:
            - "*.tosih.org"
          policy: one_factor
  
  users_database.yml: |
    ---
    users: {}
