---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        
        containers:
          app:
            image:
              repository: ghcr.io/authelia/authelia
              tag: 4.39.13
            
            env:
              TZ: America/Los_Angeles
              AUTHELIA_SERVER_ADDRESS: "tcp://0.0.0.0:9091"
              AUTHELIA_TELEMETRY_METRICS_ENABLED: "false"
              AUTHELIA_THEME: dark
              AUTHELIA_LOG_LEVEL: info
              AUTHELIA_LOG_FORMAT: json
              X_AUTHELIA_CONFIG: /config/configuration.yml
              
            envFrom:
              - secretRef:
                  name: authelia-secret
            
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    
    service:
      app:
        controller: main
        ports:
          http:
            port: 9091
    
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: SSO & Authentication
          gethomepage.dev/group: Security
          gethomepage.dev/icon: sh-authelia.svg
          gethomepage.dev/name: Authelia
        hostnames:
          - auth.tosih.org
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: authelia
                port: 9091
    
    persistence:
      config:
        type: configMap
        name: authelia-config
        globalMounts:
          - path: /config/configuration.yml
            subPath: configuration.yml
            readOnly: true
