---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./configmap.yaml
  - ./database.yaml
  - ./external-secret.yaml
  - ./helm-release.yaml
  - ./oci-repository.yaml
  - ./rbac.yaml
  - ./route.yaml
  - ./secret-store.yaml
