---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: kubernetes
  namespace: security
spec:
  provider:
    kubernetes:
      remoteNamespace: security
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
      auth:
        serviceAccount:
          name: authelia-secret-reader
