---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homebridge
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      homebridge:
        type: deployment
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          hostNetwork: true
          dnsPolicy: ClusterFirstWithHostNet
        containers:
          app:
            image:
              repository: homebridge/homebridge
              tag: "2025-10-29"
            env:
              TZ: America/Los_Angeles
              ENABLE_AVAHI: "1"

            probes:
              liveness:
                enabled: true
                type: HTTP
                path: /
                port: &port 8581
                spec:
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 2
                  failureThreshold: 3
              readiness:
                enabled: true
                type: HTTP
                path: /
                port: *port
                spec:
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 2
                  failureThreshold: 3
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: homebridge
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: HomeKit bridge
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: sh-homebridge.svg
          gethomepage.dev/name: Homebridge
          gethomepage.dev/app: homebridge
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        hostnames: ["homebridge.tosih.org"]
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: homebridge-config
        globalMounts:
          - path: /homebridge
