---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: audiobookshelf
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      audiobookshelf:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1
            env:
              TZ: America/Los_Angeles
              AUDIOBOOKSHELF_UID: "568"
              AUDIOBOOKSHELF_GID: "568"
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata

            probes:
              liveness:
                enabled: true
                type: HTTP
                path: /healthcheck
                port: &port 80
              readiness:
                enabled: true
                type: HTTP
                path: /healthcheck
                port: *port
              startup:
                enabled: true
                type: HTTP
                path: /healthcheck
                port: *port
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi

    service:
      app:
        controller: audiobookshelf
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Audiobook & podcast server
          gethomepage.dev/group: Media
          gethomepage.dev/icon: audiobookshelf.svg
          gethomepage.dev/name: Audiobookshelf
          gethomepage.dev/app: audiobookshelf
        hostnames: ["audiobooks.tosih.org"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 5Gi
        globalMounts:
          - path: /config

      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-nfs
        globalMounts:
          - path: /media

      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /config/cache
