---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      qbittorrent:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            env:
              TZ: America/Chicago
              QBITTORRENT__PORT: &port 8080
              QBITTORRENT__BT_PORT: &bt-port 50413

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: qbittorrent
        ports:
          http:
            port: *port
      bittorrent:
        controller: qbittorrent
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.0.50.103
        ports:
          bittorrent-tcp:
            port: *bt-port
            protocol: TCP
          bittorrent-udp:
            port: *bt-port
            protocol: UDP

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Torrent client
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-qbittorrent.svg
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/app: qbittorrent
        hostnames: ["qbittorrent.tosih.org"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 5Gi
        advancedMounts:
          qbittorrent:
            app:
              - path: /config

      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-nfs
        advancedMounts:
          qbittorrent:
            app:
              - path: /media

      downloads:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-downloads
        advancedMounts:
          qbittorrent:
            app:
              - path: /downloads
