---
apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
data:
  recyclarr.yml: |
    # yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
    sonarr:
      sonarr:
        base_url: http://sonarr.media.svc.cluster.local:8989
        api_key: !env_var SONARR_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true
        quality_definition:
          type: series
        quality_profiles:
          - name: WEB-1080p
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: WEB 1080p
              until_score: 10000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
              - name: HDTV-720p
              - name: WEB 480p
                qualities:
                  - WEBDL-480p
                  - WEBRip-480p
              - name: DVD
              - name: SDTV
        custom_formats:
          - trash_ids:
              # Unwanted
              - 85c61753df5da1fb2aab6f2a47426b09  # BR-DISK
              - 9c11cd3f07101cdba90a2d81cf0e56b4  # LQ
              - e2315f990da2e2cbfc9fa5b7a6c9cc86  # LQ (Release Title)
              - 47435ece6b99a0b477caf360e79ba0bb  # x265 (HD)
              - fbcb31d8dabd2a319072b84fc0b7249c  # Extras
            quality_profiles:
              - name: WEB-1080p
                score: -10000

    radarr:
      radarr:
        base_url: http://radarr.media.svc.cluster.local:7878
        api_key: !env_var RADARR_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true
        quality_definition:
          type: movie
        quality_profiles:
          - name: HD Bluray + WEB
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: Bluray-1080p
              until_score: 10000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
              - name: Bluray-480p
              - name: WEB 480p
                qualities:
                  - WEBDL-480p
                  - WEBRip-480p
              - name: DVD
              - name: SDTV
        custom_formats:
          - trash_ids:
              # Unwanted
              - ed38b889b31be83fda192888e2286d83  # BR-DISK
              - 90a6f9a284dff5103f6346090e6280c8  # LQ
              - e204b80c87be9497a8a6eaff48f72905  # LQ (Release Title)
              - dc98083864ea246d05a42df0d05f81cc  # x265 (HD)
              - 0a3f082873eb454bde444150b70253cc  # Extras
            quality_profiles:
              - name: HD Bluray + WEB
                score: -10000
