---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres17
spec:
  instances: 3
  imageName: ghcr.io/ahinko/postgres17:17.6.1
  primaryUpdateStrategy: unsupervised
  storage:
    size: 100Gi
    storageClass: zfs-nfs
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg-secret
  monitoring:
    enablePodMonitor: true

  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      memory: 1Gi

  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required

  postgresql:
    shared_preload_libraries:
      - "vchord.so"
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
