---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 1h
  chart:
    spec:
      chart: goldilocks
      version: 9.0.1
      sourceRef:
        kind: HelmRepository
        name: goldilocks
      interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      enabled: true
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 128Mi
    dashboard:
      enabled: true
      replicaCount: 1
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 128Mi
      service:
        type: ClusterIP
        port: &port 80
      ingress:
        enabled: false
    vpa:
      enabled: true
    route:
      main:
        hostnames: ["goldilocks.tosih.org"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: goldilocks-dashboard
                port: *port
