---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 1h
  chart:
    spec:
      chart: goldilocks
      version: 9.0.1
      sourceRef:
        kind: HelmRepository
        name: goldilocks
      interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      enabled: true
      resources:
        requests:
          cpu: 511m
          memory: 100Mi
        limits:
          memory: 256Mi
    dashboard:
      enabled: true
      replicaCount: 1
      resources:
        requests:
          cpu: 15m
          memory: 100Mi
        limits:
          memory: 128Mi
      service:
        type: ClusterIP
        port: 80
      ingress:
        enabled: false
    vpa:
      enabled: true
