---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      app.kubernetes.io/name: romm
      app.kubernetes.io/instance: romm
      app.kubernetes.io/part-of: romm
resources:
  - ./configmap.yaml
  - ./database.yaml
  - ./external-secret.yaml
  - ./helm-release.yaml
  - ./oci-repository.yaml
  - ./oidc-secret.yaml
  - ./pvc.yaml
