---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      lidarr:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/lidarr
              tag: 2.7.1.4417
            env:
              TZ: America/Los_Angeles
              LIDARR__APP__INSTANCENAME: Lidarr
              LIDARR__AUTH__METHOD: External
              LIDARR__AUTH__REQUIRED: DisabledForLocalAddresses
              LIDARR__LOG__LEVEL: info
              LIDARR__SERVER__PORT: &port 8686

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 15m
                memory: 237Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: lidarr
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Music management
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-lidarr.svg
          gethomepage.dev/name: Lidarr
          gethomepage.dev/app: lidarr
        hostnames: ["lidarr.tosih.org"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 5Gi
        advancedMounts:
          lidarr:
            app:
              - path: /config

      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-nfs
        advancedMounts:
          lidarr:
            app:
              - path: /media

      downloads:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: downloads
        advancedMounts:
          lidarr:
            app:
              - path: /downloads
