---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password-sdk
  target:
    name: pocket-id-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        DB_CONNECTION_STRING: "/app/data/pocket-id.db"
        ENCRYPTION_KEY: "{{ .ENCRYPTION_KEY }}"
  data:
    - secretKey: POSTGRES_SUPER_USER
      remoteRef:
        key: postgres/username
    - secretKey: POSTGRES_SUPER_PASSWORD
      remoteRef:
        key: postgres/password
    - secretKey: ENCRYPTION_KEY
      remoteRef:
        key: pocket-id/encryption_key
