---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password-sdk
  target:
    name: pocket-id-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        DB_TYPE: "postgres"
        DB_HOST: "postgres17-rw.databases.svc.cluster.local"
        DB_PORT: "5432"
        DB_NAME: "pocket_id"
        DB_USER: "{{ .POSTGRES_SUPER_USER }}"
        DB_PASS: "{{ .POSTGRES_SUPER_PASSWORD }}"
  data:
    - secretKey: POSTGRES_SUPER_USER
      remoteRef:
        key: postgres/username
    - secretKey: POSTGRES_SUPER_PASSWORD
      remoteRef:
        key: postgres/password
