---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.3.0
            env:
              APP_URL: https://pid.tosih.org
              TRUST_PROXY: true
              TZ: America/Los_Angeles
              UPLOAD_PATH: /app/data/uploads
            envFrom:
              - secretRef:
                  name: pocket-id-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                memory: 250M
                cpu: 10m
              limits:
                memory: 400M
    service:
      app:
        ports:
          http:
            port: 1411
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Identity provider
          gethomepage.dev/group: Security
          gethomepage.dev/icon: sh-pocket-id.svg
          gethomepage.dev/name: Pocket ID
          gethomepage.dev/app: pocket-id
        hostnames: ["pid.tosih.org"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: pocket-id-ceph
        globalMounts:
          - path: /app/data
      var:
        type: emptyDir
        sizeLimit: 1Gi
