---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pocket-id-ceph
  namespace: security
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 1Gi
